*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea
/build
/captures
/local.properties
.externalNativeBuild
app/google-services.json
google-services.json
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
hackillinois.keystore
service-account-key.p12